<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Films in Cinema</title>
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="nameFilm" placeholder="Введите название фильма" />
            <input type="text" name="descriptionFilm" placeholder="Введите Описание Фильма" />
            <input type="text" name="tagFilm" placeholder="Введите Жанр" />
            <input type="date" name="firstDate" placeholder="Начало показа" />
            <input type="date" name="lastDate" placeholder="Конец показа" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <br>
    <div>
        <th:block th:each="film : ${filmes}">
        <p th:text="${film.id} + ' ' + ${film.nameFilm}">idNameFilm</p>
        <p th:text="${film.descriptionFilm}">descriptionFilm</p>
        <p th:text="'В наших кинотеатрах с ' + ${film.firstShowDate} + ' по ' + ${film.lastShowDate}">firstLastDate</p>
        <p th:text="'Жанр: ' + ${film.tagFilm}">tagFilm</p>
        </th:block>
    </div>
</body>
</html>