<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div style="margin-bottom: 2%" th:fragment="ticket1">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="card col" style="width: 18rem; background-color: transparent; border: 0px transparent">
            <div th:if="${film.filename}">
                <img class="card-img-top" style="border-top-left-radius: 10px; border-top-right-radius: 10px" th:src="@{/img/{filename}(filename=${film.filename})}" alt="img">
            </div>
            <div class="card-body" style="background-color: #8C0D24; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
                <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="${film.nameFilm}"></h5>
                <p class="card-text" style="margin-bottom: 2%; overflow: hidden; text-overflow: ellipsis;" th:text="'Описание фильма: ' + ${film.descriptionFilm}">descriptionFilm</p>
                <p class="card-text" style="margin-bottom: 2%; overflow: hidden; text-overflow: ellipsis;" th:text="'Жанр: ' + ${film.tagFilm}">tagFilm</p>
                <p class="card-text" style="margin-bottom: 2%; overflow: hidden; text-overflow: ellipsis;" th:text="'Название фильма: ' + ${film.nameFilm}">idNameFilm</p>
                <p class="card-text" style="margin-bottom: 2%; overflow: hidden; text-overflow: ellipsis;" th:text="'Место проведения: ' + ${film.placeFilm}">idNameFilm</p>
                <p class="card-text" style="margin-bottom: 2%; overflow: hidden; text-overflow: ellipsis;" th:text="'В показе с ' + ${film.firstShowDate} + ' по ' + ${film.lastShowDate}">firstLastDate</p>

                <p class="card-text"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="'Стоимость: ' + ${film.costFilm}+ ' рублей'">tagFilm</p>
                <th:block th:with="result=${film.freePlaces}">
                    <b class="card-text"  style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" th:text="'Свободных мест: ' + ${result}+ ' осталось'">tagFilm</b>
                </th:block>
                <!--                <a class="btn filmFilter__form"-->
                <!--                   onmouseover="this.style.backgroundColor='#8C0D24';this.style.color='#D9D4BA';"-->
                <!--                   onmouseout="this.style.backgroundColor='#D9D4BA';this.style.color='#111226';"-->
                <!--                   style="transition: 500ms ;transition-timing-function: ease-in-out; border: 1px solid #D9D4BA; border-radius: 5px; background-color: #D9D4BA; width: 100%" th:text="'Подробнее для покупки'"></a>-->
                <!--                <a sec:authorize="hasAuthority('ADMIN')" class="btn filmFilter__form"-->
                <!--                   style="transition: 500ms ;transition-timing-function: ease-in-out ;border: 1px solid #D9D4BA; border-radius: 5px; color: #D9D4BA; background: transparent; width: 100%"-->
                <!--                   onmouseover="this.style.backgroundColor='#D9D4BA';this.style.color='#111226';"-->
                <!--                   onmouseout="this.style.backgroundColor='transparent';this.style.color='#D9D4BA';" s th:href="'/filmes/edit/' + ${film.id}">Редактировать Анкету</a>-->
            </div>
            <!--        <b th:text="'Автор добавления: ' + ${film.authorName} + ' Телефон автора: ' + ${film.authorTel}">addedAuthor</b>-->
        </div>
        <form class="col" th:action="@{'/filmes/buy/' + ${film.id}}" th:method="post" enctype="multipart/form-data">
            <th:block th:each="user : ${users}">
                <th:block th:if="${user.username} == ${#httpServletRequest.remoteUser}">
                    <div th:if="${resultMessage}">
                        <p th:text="${resultMessage}"></p>
                    </div>
                    <div><label class="form-label" for="t1">Ваше ФИО (по желанию только Имя): </label><input required="true" id="t1" type="text" th:value="${user.username}" name="nameUser" class="form-control filmFilter__form" placeholder="Введите название фильма" /> </div>
                    <div><label class="form-label" for="t5">Кол-во билетов: </label><input id="t5" type="number" required="true" th:value="1" th:name="totalTickets" class="form-control filmFilter__form" placeholder="Введите Cтоимость" /> </div>
                    <p>Общая стоимость билетов: <label id="totCo"></label></p>
                    <input type="hidden" th:value="${film.costFilm}" id="cosFi"/>

                    <script>
                        var totalTick = document.getElementById("t5");
                        var totalLab = document.getElementById("totCo");
                        var costFi = document.getElementById("cosFi").getAttribute("value");
                        totalLab.innerHTML = costFi;

                        totalTick.addEventListener("change", function () {
                        var costFilm = document.getElementById("cosFi").getAttribute("value");
                        // alert(costFilm);
                        var totalTickets = document.getElementById("t5").value;
                        // alert(totalTickets);
                        var totalLabel = document.getElementById("totCo");

                        if (totalTickets >= 0) {
                            totalLabel.innerHTML = costFilm*totalTickets;
                        }});
                    </script>

                    <div>
                        <label class="form-label" for="t6">Дата показа: </label>
                        <input type="date" id="t6" th:value="${film.firstShowDate}" name="orderDate" required="true" class="form-control filmFilter__form" placeholder="Начало показа" />
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn " style="background-color: #D9D4BA;" type="submit">Сделать заказ</button>
                    </div>
                    <input type="hidden" th:value="${film.id}" name="FilmId"/>
                    </th:block>
            </th:block>
        </form>
    </div>
</div>
</html>